<div class="fixed-top" id="header">
  <div class="relatedHeader">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home/blog']">Mi blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home/contactame']">Contáctame</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home/conoceme']">Conóceme</a>
      </li>
      <li class="nav-item ml-auto">
        <img class="flag" src="./assets/images/languages/en.svg" alt="United Kingdom Flag" (click)="switchLanguage('en')">
        <img class="flag" src="./assets/images/languages/es.svg" alt="Spain Flag" (click)="switchLanguage('es')">
      </li>
    </ul>
  </div>
</div>